#filter{
    margin-top: 30px;
    .filter-wrapper{
        display: flex;
        justify-content: space-between;
        .search-box{
            width: 30%;
        }
    }
}
#countries{
    margin-top: 30px;
    .card{
        margin-top: 10px;
        .card-item{
            display: flex;
            h6{
                margin-bottom: 0;
            }
            span{
                padding-left: 7px;
            }
        }
    }
}